<p>{{message}}</p>
<h1>EventDetail</h1>
<form novalidate ng-submit="updateEvent()">
	<table>
		<tr>
			<td>EventName:</td>
			<td><input type="text" ng-model="event.eventName"  size="30" placeholder="EventName" required></td>
        </tr>
        <tr>
        	<td>EventDate:</td>
        	<td><input type="text" ng-model="event.eventDate"  size="30" placeholder="EventDate"></td>
        </tr>
        <tr>
        	<td>place:</td>
        	<td><input type="text" ng-model="event.place"  size="30" placeholder="Place"></td>
        </tr>
    </table>
	<input class="btn-primary" type="submit" value="Update Player">
</form>

<h1>EventMember</h1>
<p>{{getMemberCnt()}}Members now</p>
<table>
	<thead style="background:#5bf;padding:5px;">
		<th style="padding:5px;">PlayerName</th>
		<th style="padding:5px;">Group</th>
		<th style="padding:5px;">Level</th>
		<th style="padding:5px;">Member</th>
		<th style="padding:5px;">Team</th>
	</thead>
	<tbody>
	<tr ng-repeat="player in players" ng-class-even="'even'" ng-class-odd="'odd'" ng-controller="EventPlayerCtrl" >
		<td style="padding:5px;">{{player.name}}</td>
		<td style="padding:5px;">{{player.group}}</td>
		<td style="padding:5px;">{{player.level}}</td>
		<td style="padding:5px;"><input type="checkbox" ng-model="player.member" ng-click="memberChecked()"></td>
		<td style="padding:5px;">
		<select ng-model="player.teamName" ng-options="t for t in teams" ng-change="teamChange()" ng-disabled="!player.member">
			<option value="">-- select team --</option>
		</select>
		</td>
	</tr>
	</tbody>
</table>

<h1>Team</h1>
<a href="/TeamList/{{event.keyStr}}">TeamList</a>
<br/>
<h1>Game</h1>
<a href="/GameList/{{event.keyStr}}">GameList</a>
<br/>