<p>{{message}}</p>
<form novalidate ng-submit="newEvent()">
	<input type="text" ng-model="newEventName"  size="30"
               placeholder="Event Name" required><br />
	<input type="text" ng-model="newEventDate"  size="30"
               placeholder="Date"><br />
    <input type="text" ng-model="newEventPlace"  size="30"
               placeholder="Place">
	<input class="btn-primary" type="submit" value="new Event">
</form>
<p>
	<input type="text" ng-model="query.name" placeholder="NameFilter">
</p>
<table>
	<thead style="background:#5bf;padding:5px;">
		<th style="padding:5px;">EventName</th>
		<th style="padding:5px;">Date</th>
		<th style="padding:5px;">Place</th>
		<th style="padding:5px;">detail</th>
		<th style="padding:5px;">delete</th>
	</thead>
	<tbody>
	<tr ng-repeat="event in events | filter:query" ng-class-even="'even'" ng-class-odd="'odd'"
	ng-controller="EventCtrl" >
		<td style="padding:5px;">{{event.eventName}}</td>
		<td style="padding:5px;">{{event.eventDate | date:'yyyy-MM-dd'}}</td>
		<td style="padding:5px;">{{event.place}}</td>
		<td style="padding:5px;"><a href="EventDetail/{{event.keyStr}}"><Button>detail</Button></a></td>
		<td style="padding:5px;"><Button ng-click="EventDelete()">delete</Button></td>
	</tr>
	</tbody>
</table>
<Button ng-click="update()">update</Button><br/>
