<h1>イベント名:{{eventDetail.eventName}}</h1>
<p>開催日：{{eventDetail.eventDate}}</p>
<p>会場　：{{eventDetail.place}}</p>
<br/>

<h2>チーム</h2><br/>
<table>
	<thead style="background:#5bf;padding:5px;">
		<th style="padding:5px;">TeamName</th>
		<th style="padding:5px;">Member Count</th>
	</thead>
	<tbody>
	<tr ng-repeat="team in teams">
		<td style="padding:5px;">{{team.teamName}}</td>
		<td style="padding:5px;">{{team.memberCount}}名</td>
	</tr>
	</tbody>
</table>

<table>
	<thead style="background:#5bf;padding:5px;">
		<th style="padding:5px;">GameNumber</th>
		<th style="padding:5px;">Home</th>
		<th style="padding:5px;">Away</th>
	</thead>
	<tbody>
	<tr ng-repeat="game in games" ng-controller="GameCtrl">
		<td style="padding:5px;">{{game.gameNumber}}</td>
		<td style="padding:5px;">{{game.homeTeam}}:{{game.homeGoals}}</td>
		<td style="padding:5px;">{{game.awayTeam}}:{{game.awayGoals}}</td>
	</tr>
	</tbody>
</table>

</div>
