<!DOCTYPE html>
<html ng-app="FutsalManager">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="pages/js/angular.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="pages/js/angular-resource.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="pages/js/main.js"></script>
<script type="text/javascript" src="pages/js/players.js"></script>
<script type="text/javascript" src="pages/js/player_detail.js"></script>
<script type="text/javascript" src="pages/js/event_list.js"></script>
<script type="text/javascript" src="pages/js/event_detail.js"></script>
<script type="text/javascript" src="pages/js/team_list.js"></script>
<style>
	.even{
		background:#ddd;
	}

</style>
<title>FutsalManger</title>
</head>
<body>
	<div ng-controller="MainCtrl">
      Choose:
      <a href="/">Main</a>
      <a href="/PlayerList">PlayerList</a>
      <a href="/EventList">EventList</a>
      <br />

      <div ng-view></div>
      <hr />

      <pre>$location.path() = {{$location.path()}}</pre>
      <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
      <pre>$route.current.params = {{$route.current.params}}</pre>
      <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
      <pre>$routeParams = {{$routeParams}}</pre>
    </div>
</body>
</html>