<p>{{message}}</p>
<form novalidate ng-submit="newPlayer()">
	<input type="text" ng-model="newPlayerName"  size="30"
               placeholder="Full Name" required><br />
	<input type="text" ng-model="newPlayerGroup"  size="30"
               placeholder="Group"><br />
    <input type="text" ng-model="newPlayerLevel"  size="30"
               placeholder="Level">
	<input class="btn-primary" type="submit" value="new Player">
</form>
<p>
	<input type="text" ng-model="query.group" placeholder="GroupFilter">
	<input type="text" ng-model="query.level" placeholder="LevelFilter">
</p>
<table>
	<thead style="background:#5bf;padding:5px;">
		<th style="padding:5px;">PlayerName</th>
		<th style="padding:5px;">Group</th>
		<th style="padding:5px;">level</th>
		<th style="padding:5px;">detail</th>
		<th style="padding:5px;">delete</th>
	</thead>
	<tbody>
	<tr ng-repeat="player in players | filter:query" ng-class-even="'even'" ng-class-odd="'odd'"
	ng-controller="PlayerCtrl" >
		<td style="padding:5px;">{{player.name}}</td>
		<td style="padding:5px;">{{player.group}}</td>
		<td style="padding:5px;">{{player.level}}</td>
		<td style="padding:5px;"><a href="PlayerDetail/{{player.keyStr}}"><Button>detail</Button></a></td>
		<td style="padding:5px;"><Button ng-click="PlayerDelete()">delete</Button></td>
	</tr>
	</tbody>
</table>
<Button ng-click="update()">update</Button><br/>
