<p>{{message}}</p>
<h1>Player Profile</h1>
<form novalidate ng-submit="updatePlayer()">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" ng-model="player.name"  size="30" placeholder="Full Name" required></td>
        </tr>
        <tr>
        	<td>Group:</td>
        	<td><input type="text" ng-model="player.group"  size="30" placeholder="Group"></td>
        </tr>
        <tr>
        	<td>Sex:</td>
        	<td><input type="text" ng-model="player.sex"  size="30" placeholder="Sex"></td>
        </tr>
        <tr>
        	<td>Age:</td>
        	<td><input type="text" ng-model="player.age"  size="30" placeholder="Age"></td>
        </tr>
        <tr>
        	<td>Level:</td>
        	<td><input type="text" ng-model="player.level"  size="30" placeholder="Level" required></td>
        </tr>
        <tr>
        	<td>Position:</td>
        	<td><input type="text" ng-model="player.position"  size="30" placeholder="Position"></td>
        </tr>
        <tr>
        	<td>Introduce:</td>
        	<td><input type="text" ng-model="player.introduce"  size="30" placeholder="Introduce"></td>
        </tr>
    </table>
	<input class="btn-primary" type="submit" value="Update Player">
</form>

<h1>Player Statistics</h1>
<table>
	<tr>
		<td>Matchs:</td>
		<td>{{player.matchs}}</td>
       </tr>
       <tr>
       	<td>Goals:</td>
       	<td>{{player.goals}}</td>
       </tr>
       <tr>
       	<td>Wins:</td>
       	<td>{{player.wins}}</td>
       </tr>
       <tr>
       	<td>WinEvents:</td>
       	<td>{{player.winEvents}}</td>
    </tr>
</table>