<h1>イベント名:{{eventDetail.eventName}}</h1>
<p>開催日：{{eventDetail.eventDate}}</p>
<p>会場　：{{eventDetail.place}}</p>
<br/>

<div ng-repeat="team in teams" ng-controller="TeamCtrl">
<h2>チーム名：{{team.teamName}}</h2><br/>
<p>メンバー:{{team.memberCount}}名</p>

<table>
	<thead style="background:#5bf;padding:5px;">
		<th style="padding:5px;">PlayerName</th>
		<th style="padding:5px;">Group</th>
		<th style="padding:5px;">level</th>
		<th style="padding:5px;">detail</th>
	</thead>
	<tbody>
	<tr ng-repeat="member in members" ng-controller="MemberCtrl" >
		<td style="padding:5px;">{{member.name}}</td>
		<td style="padding:5px;">{{member.group}}</td>
		<td style="padding:5px;">{{member.level}}</td>
		<td style="padding:5px;"><a href="/PlayerDetail/{{member.playerKeyStr}}"><Button>detail</Button></a></td>
	</tr>
	</tbody>
</table>

</div>
<Button ng-click="update()">update</Button><br/>
